
body {
  // Crazy sans-serif stack
  // font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}


// $Headings
// -------------------------------------//

// styles for all headings, in the style of @csswizardry
%hN {
  color: $brand-orange;
  font-family: 'Titillium Web', sans-serif;
}
h1, h2, h3 {
  font-weight: normal;
}

.content h1 {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 60px; /* is a rem fallback needed for browsers that get bg-size? */
  background-size: 3.33333rem;
  padding-left: 80px;
  text-align: left;
}

.title--wellness {
  @include icon-bg(wellness);
}
.title--performance {
  @include icon-bg(performance);
}
.title--cardio {
  @include icon-bg(cardio);
}
.title--people {
  @include icon-bg(people);
}




// $Logo block
// -------------------------------------//
.logo {
  display: block;
  margin: $base-spacing-unit 8.333%;
}




// $Navigation block
// -------------------------------------//
.nav__wrapper {
  background: $brand-green;
  color: #fff;
}

.nav__wrapper .grid {
  text-align: center;
}

.nav--main {
  margin: 0;
  text-align: right;
}

.nav--main > li > a,
.nav--dropdown > li > a {
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  margin-left: $base-spacing-unit;
  text-decoration: none;
}

.nav--main > li > a {
  height: 100%;
  padding: $base-spacing-unit/2 0;
}

.nav--main > li > a:hover {
  background: #fff;
}

.dropdown {
  position: relative;
}

.nav--dropdown {
  background: transparentize($brand-green, 0.2);
  display: none;
  width: $base-spacing-unit*10;
  padding: $base-spacing-unit/2 $base-spacing-unit;
  position: absolute;
  top: 100%; right: -$base-spacing-unit;
  z-index: 1000;
}
// Display dropdown when activated
.open .nav--dropdown {
  display: block;
}

.nav--dropdown > li > a {
  
}

.nav--dropdown > li > a:hover {
  color: transparentize(#fff, 0.2);
}




// $Hero block
// -------------------------------------//
.hero {
  background-color: transparentize($brand-green, 0.87);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .grid {
  text-align: center;
}

.hero h2 {
  color: #fff;
  margin-bottom: 0;
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;
  text-align: left;
  text-shadow: 0px 1px 0px $brand-green;
}

.hero--cycling {
  background-image: url(../img/hero-cycling.jpg);
}
.hero--cycling h2 {
  
  @include breakpoint(lap) {
    padding-top: $base-spacing-unit * 2;
    padding-bottom: $base-spacing-unit * 2;
    width: 33.333%;
  }
}

.hero--running {
  background-image: url(../img/hero-running.jpg);
  background-position: 50% 100%;
}
.hero--running h2 {
  
  @include breakpoint(lap) {
    padding-top: $base-spacing-unit * 2;
    padding-bottom: $base-spacing-unit * 2;
    width: 33.333%;
  }
}


.hero--taping {
  background-image: url(../img/hero-taping.jpg);
}
.hero--taping h2 {
  
  @include breakpoint(lap) {
    padding-top: $base-spacing-unit * 6;
    padding-bottom: $base-spacing-unit * 2;
    width: 75%;
  }
}


.hero--wiibalance {
  background-image: url(../img/hero-wiibalance.jpg);
  background-position: 50% 10%;
}
.hero--wiibalance h2 {
  
  @include breakpoint(lap) {
    padding-top: $base-spacing-unit * 12;
    padding-bottom: $base-spacing-unit * 2;
    width: 50%;
  }
}


.hero--demonstration {
  background-image: url(../img/hero-demonstration.jpg);
  background-position: 50% 40%;
}
.hero--demonstration h2 {
  
  @include breakpoint(lap) {
    padding-top: $base-spacing-unit * 12;
    padding-bottom: $base-spacing-unit * 2;
    width: 50%;
  }
}






// $Content block
// -------------------------------------//
.content {
  padding: $base-spacing-unit * 2 0 $base-spacing-unit * 2 0;
}

.content > .grid {
  text-align: center;
}
.content .grid .grid {
  text-align: left;
}

.content__intro {
  color: $brand-blue;
  font-family: 'Titillium Web', sans-serif;
  
  @include breakpoint(lap) {
    padding-right: 8.333%;
  }
}

.content__funnel {
  border-top: 1px solid $brand-blue;
  padding-top: $base-spacing-unit;
  
  @include breakpoint(lap) {
    border-top: none;
    border-left: 1px solid $brand-blue;
    padding-top: 0;
    padding-left: 8.333%;
  }
}

.funnel {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 65px 65px;
  min-height: 65px;
  padding-left: 80px;
}

.funnel--wellness {
// Set the .png first, and if browser understands multiple backgrounds it probably understands .svg too
  background-image: url(../img/icon-wellness.png);
  background-image: url(../img/icon-wellness.svg), none;
}

.funnel--performance {
  background-image: url(../img/icon-performance.png);
  background-image: url(../img/icon-performance.svg), none;
}

.content__aside {
  color: $brand-blue;
}

.content__aside dt {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  margin-left:2 * $base-spacing-unit;
  margin-left:(2 * $base-spacing-unit / $base-font-size)*1rem;
}

.content__aside dd {
  margin-bottom:2 * $base-spacing-unit;
  margin-bottom:(2 * $base-spacing-unit / $base-font-size)*1rem;
}

.content__callout {
  background-color: $brand-blue;
  background-image: url(../img/bg-running.png);
  background-image: url(../img/bg-running.svg), none;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: 200px auto;
  color: #fff;
  padding: $base-spacing-unit * 2 $base-spacing-unit * 12 $base-spacing-unit * 2 $base-spacing-unit * 2;
  
  h3 {
    color: #fff;
  }
}

.content a {
  color: $brand-orange;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid;
  }
}




// $Footer block
// -------------------------------------//
footer {
  background: $brand-green;
  color: #fff;
  padding: $base-spacing-unit 0 $base-spacing-unit * 2;
}
footer > .grid {
  text-align: center;
}
footer .grid .grid {
  text-align: left;
}

footer %hN {
  color: #fff;
  font-weight: normal;
}

footer a {
  color: #fff;
  text-decoration: none;
}
footer a[href^="mailto"] {
  font-family: 'Titillium Web', sans-serif;
}

footer a:hover {
  border-bottom: 1px solid;
}

.foot__copyright {
  background-image: url(../img/logo-wephysio-white.png);
  background-image: url(../img/logo-wephysio-white.svg), none;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 93px 79px;
  min-height: 100px;
  position: relative;
  text-align: right;

  p {
    margin-bottom: 0;
    position: absolute;
    bottom: 0; right: 100px;
  }
}
