
body {
  // Crazy sans-serif stack
  // font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}


// $Headings
// -------------------------------------//

// styles for all headings, in the style of @csswizardry
%hN {
  font-family: 'Titillium Web', sans-serif;
}
h1, h2 {
  font-weight: normal;
}




// $Logo block
// -------------------------------------//
.logo {
  display: block;
  margin: $base-spacing-unit 8.333%;
}




// $Navigation block
// -------------------------------------//
.nav__wrapper {
  background: $brand-green;
  color: #fff;
}

.nav__wrapper .grid {
  text-align: center;
}

.nav--main {
  margin-top: $base-spacing-unit / 2;
  margin-bottom: $base-spacing-unit / 2;
  text-align: right;
}

.nav--main a {
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  margin-left: $base-spacing-unit;
  text-decoration: none;
}

.nav--dropdown {
  display: none;
}




// $Hero block
// -------------------------------------//
.hero {
  background: transparentize($brand-green, 0.87);
}
.hero .grid {
  text-align: center;
}

.hero h2 {
  color: #fff;
  margin-bottom: 0;
  text-align: left;
  text-shadow: 0px 1px 0px $brand-green;
  
  @include breakpoint(desk) {
    padding-top: $base-spacing-unit * 2;
    padding-bottom: $base-spacing-unit * 2;
    width: 33.333%;
  }
}



// $Content block
// -------------------------------------//
.content {
  padding: $base-spacing-unit 0 0 0;
}

.content > .grid {
  text-align: center;
}
.content .grid .grid {
  text-align: left;
}

.content__intro {
  color: $brand-blue;
  font-family: 'Titillium Web', sans-serif;
}

.content a {
  color: $brand-orange;
  text-decoration: none;
}
.content a:hover {
  border-bottom: 1px solid;
}




// $Content block
// -------------------------------------//
footer {
  background: $brand-green;
  color: #fff;
  padding: $base-spacing-unit 0;
}
footer > .grid {
  text-align: center;
}
footer .grid .grid {
  text-align: left;
}

footer %hN {
  color: #fff;
  font-weight: normal;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  border-bottom: 1px solid;
}