/*------------------------------------*\
    VARIABLES.SCSS
\*------------------------------------*/
/**
 * Branding and layout colour values
 */
$brand-green:   #80a51b;
$brand-orange:  #f7a600;
$brand-blue:    #006e89;


/**
 * Breakpoint values
 */
$lap-start:   37.5em;
$desk-start:  64em;